name: Test all targets

on: [push, pull_request]

permissions:
  contents: write

jobs:
  quick-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions-rs/toolchain@v1.0.6
        with:
          toolchain: stable
          override: true
      - name: Check Type
        run: cargo fmt -- --check
      - name: Check Clippy
        run: cargo clippy -- -Dwarnings
      - name: Run internal tests
        run: cargo test --verbose -- --nocapture
      - name: Build
        run: cargo build

  build:
    needs: quick-tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions-rs/toolchain@v1.0.6
        with:
          toolchain: stable
          override: true
      - name: Build docs
        run: cargo doc
      - name: Move documentation
        run: mkdir -p pages/doc && mv target/doc/* pages/doc/
      - name: Get previous benchmark data
        if: ${{ github.ref == 'refs/heads/master' }}
        run: |
            echo "Fetching gh-pages branch"
            git fetch origin gh-pages

            echo "Checking out gh-pages branch"
            git checkout gh-pages

            echo "Copying data file from gh-pages to cache"
            mkdir -p pages/dev && cp -r dev/* pages/dev/ || { echo "Failed to copy dev folder" ; exit 1; }

            echo "Checking out current previous branch"
            git checkout -
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/master' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./pages

  bench:
    needs: build
    if: ${{ github.repository_owner == 'bluerobotics' }}
    runs-on: raspbian-armv7-kernel-5.10.33
    steps:
    - uses: actions/checkout@master
    - uses: dtolnay/rust-toolchain@stable
    - name: Rust | Cache
      uses: Swatinem/rust-cache@v2
      with:
        prefix-key: "rust-cache"
        shared-key: "benchmark"
    - name: Cargo Bench
      run:  cargo bench --jobs 1 --bench bench -- --output-format bencher | tee output.txt
    - name: Compare results & store cached results
      uses: benchmark-action/github-action-benchmark@v1.18.0
      with:
        tool: 'cargo'
        output-file-path: output.txt
        summary-always: true
        alert-threshold: "110%"
        fail-on-alert: true
        external-data-json-path: ./cache/benchmark-data.json
        skip-fetch-gh-pages: "true"
    - name: Update data file
      if: ${{ github.ref == 'refs/heads/master' }}
      run: |
        git config user.name "GitHub Actions Bot"
        git config user.email "actions@github.com"

        git fetch origin gh-pages

        git checkout gh-pages

        if [ ! -d "dev/cache" ]; then
          echo "Cache folder does not exist, creating it"
          mkdir -p dev/cache
        fi

        cp cache/benchmark-data.json dev/cache/benchmark-data.json

        tree cache

        git add dev/cache/benchmark-data.json
        git commit -m "Update benchmark-data file"
        git push origin gh-pages

  deploy:
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout to repository
        uses: actions/checkout@v2
      - name: Setup Rust toolchain
        uses: actions-rs/toolchain@v1.0.7
        with:
          toolchain: stable
          override: true
      - name: Install cargo-bump
        run: cargo install cargo-bump --force
      - name: Modify version with tag
        run: cargo bump ${{ github.ref_name }}
      - name: Automatic commit for crate version upgrade
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          branch: master
          commit_message: "Cargo: Update the crate version to ${{ github.ref_name }}"
      - name: Publish to crates.io
        uses: katyo/publish-crates@v1
        with:
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
